Repository arcus-azure/arcus.messaging, pull requests merged in 2025-09, with the labels that each got.

#646 chore(test): remove unused integration test fixtures
  src/Arcus.Messaging.Tests.Integration/Extensions/ServiceBusConnectionStringPropertiesExtensions.cs
Labels: testing

#650 docs(az.sb): Update Autocomplete documentation on Service Bus Arcus.Messaging
  docs/preview/03-Features/01-Azure/01-service-bus.md
Labels: documentation, integration:service-bus

#652 fix(az.sb.test): add missing queue w/ session teardown
  src/Arcus.Messaging.Tests.Integration/MessagePump/ServiceBusMessagePumpTests.cs
Labels: bug, integration:service-bus

#649 feat(az.sb): add startup hook for az sb message pump
  docs/preview/03-Features/01-Azure/01-service-bus.mdx
  src/Arcus.Messaging.Pumps.ServiceBus/Configuration/ServiceBusMessagePumpOptions.cs
  src/Arcus.Messaging.Pumps.ServiceBus/ServiceBusMessagePump.cs
  src/Arcus.Messaging.Tests.Integration/MessagePump/Fixture/ServiceBusTestContext.cs
Labels: enhancement, message-pumps

#658 docs(az.sb): update docs w/ recent serilog correlation scope changes
  docs/preview/03-Features/01-Azure/01-service-bus.mdx
  docs/preview/03-Guides/migration-guide-v3.0.md
Labels: bug, documentation, area:correlation
